{% set users = createModel('Users') %}
{% set items = users.join('user_details', 'users.id', '=', 'user_details.user_id', 'left outer').select('users.*','user_details.*','users.uuid as uuid','users.id as id') %} 
{% set items = paginate(items,'users') %}
{% if items.rows is empty %}
    <tr>
        <td colspan="8">{{ labels.empty }}</td>
    </tr>
{% else %}
    {% for item in items.rows %}   
    <tr id="{{ user.uuid }}">       
        <td class="right aligned">
            <input type="checkbox" class="selected-row" name="selected[]" value="{{ item.uuid }}">
        </td>
        <td>
            <div class="ui icon basic mini buttons">
                <button class="ui icon button edit-button" uuid="{{ item.uuid }}">
                    <i class="icon edit"></i>
                </button>
            </div>
        </td>
        <td>{{ item.date_created|dateFormat }}</td>
        <td>{{ item.date_created|dateFormat }}</td>       
        <td>
            {{ component('components:status.dropdown',{ status: item.status, uuid: item.uuid }) }}         
        </td>
        <td>{{ item.user_name }}</td>
        <td>{{ item.email }}</td>       
        <td>{{ item.first_name }} {{ item.last_name }}</td>
        <td class="center aligned">           
            {% if control_panel == true %}
                <div class="ui label blue mini basic">{{ labels.cp }}</div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="8">
            {{ component("components:paginator",items.paginator) }}
        </td> 
    </tr>
{% endif %}