{% set items = [ 
    { title: labels.login, component: 'users::admin.settings.login', icon: 'sign in', active: true },
    { title: labels.signup, component: 'users::admin.settings.signup', icon: 'user plus' },  
    { title: labels.notifications, component: 'users::admin.settings.notifications', icon: 'outline mail' }
] %}

{{  component('components:tabs.vertical',{ 
        items: items, 
        menu: { id: 'settings_menu' }, 
        item_class: 'settings-tab-item',
        content: { id: 'settings_tab', component: 'users::admin.settings.login' } 
    })
}}