{{  component('system:admin.tabs.vertical',{ 
        id: 'users_settings_menu',
        items: [ 
            { 
                title: labels.login, 
                component: 'users::admin.settings.login', 
                svg_icon: 'icons~login', 
                active: true 
            },
            { 
                title: labels.signup, 
                component: 'users::admin.settings.signup', 
                svg_icon: 'icons~user.add' 
            },  
            { 
                title: labels.notifications,
                component: 'users::admin.settings.notifications', 
                svg_icon: 'icons~mail' 
            },
            { 
                title: labels.type, 
                component: 'users::admin.settings.type', 
                svg_icon: 'icons~code' 
            }
        ],       
        content: { 
            id: 'settings_tab', 
            component: 'users::admin.settings.login' 
        } 
    })
}}