<div class="ui icon dropdown user-menu-dropdown {{ class }}" id="user_menu_dropdown">
    <i class="icon {{ icon }}"></i>    
    {% if show_user_name == true %}
        {% set user = service('access').getUser() %}
        {% set user_name = (user.user_name is empty) ? user.email : user.user_name %}
        <span class="text">{{ user_name }}</span>
    {% endif %}
    {% if hide_dropdown_icon != true %}
        <i class="icon dropdown"></i>
    {% endif %}
    <div class="ui menu {{ menu_class }}">
        {% if service('access').isLogged() == true %}
            <a class="item {{ (selected == '') ? 'active' : '' }} dropdown-user-menu-item" component="users>users.dashboard" href="{{ url('/user') }}">
                <i class="icon dashboard {{ icon_class }}"></i>
                {{ items.dashboard }}
            </a>
            <a class="item {{ (selected == 'details') ? 'active' : '' }} dropdown-user-menu-item" component="users>users.details" href="{{ url('/user/details') }}">
                <i class="icon edit {{ icon_class }}"></i>
                {{ items.details }}
            </a>
            <a class="item {{ (selected == 'change-password') ? 'active' : '' }} dropdown-user-menu-item" component="users>users.password" href="{{ url('/user/change-password') }}">
                <i class="icon lock {{ icon_class }}"></i>
                {{ items.change_password }}
            </a>       
            {{ content }}
            <a class="item dropdown-user-menu-item" component="users>users.logout" href="{{ url('/logout') }}">
                <i class="icon sign out {{ icon_class }}"></i>
                {{ items.logout }}
            </a>
        {% else %}
            {{ content }}
        {% endif %}
    </div>
</div>