{% if uuid is not empty %}
    {% set item = createModel('Users').findById(uuid) %}
{% endif %}
{% set control_panel_user = service('access').hasControlPanelAccess(item.id) %}
<tr 
    id="row_{{ item.uuid }}" 
    class="{{ (control_panel_user == true) ? 'bg-orange-50' : '' }}" 
    title="{{ (control_panel_user == true) ? labels.cp : '' }}">             
    <td>
        {% if item.avatar is not empty  %}
            {% set image_url = url('/api/users/avatar/view/' ~  item.uuid,true) %}       
            <img class="rounded-full" src="{{ image_url }}">
        {% else %}
            <div class="h-8 w-8">
                {{ component('icons~image',theme.icons.gray,'svg') }}
            </div>           
        {% endif %}
    </td>
    <td>              
        {% if item.isDeleted() == false %}       
            <button 
                class="{{ theme.buttons.icon }} edit-button" 
                uuid="{{ item.uuid }}">
                {{ component('icons~edit',theme.icons.menu,'svg') }}
            </button>
            {% if control_panel_user == false %}
            <button 
                class="{{ theme.buttons.icon }} delete-button" 
                uuid="{{ item.uuid }}" 
                data-title="{{ (item.user_name is empty) ? item.email : item.user_name }}">
                {{ component('icons~trash',theme.icons.delete,'svg') }}
            </button>
            {% endif %}
        {% else %}
        <button 
            class="{{ theme.buttons.icon }} restore-button" 
            uuid="{{ item.uuid }}"  
            {{ labels.restore|attr('title') }}>            
            {{ component('icons~trash',theme.icons.green,'svg') }}
        </button>
        {% endif %}
        <button 
            class="{{ theme.buttons.icon }} user-details-button" 
            uuid="{{ item.uuid }}" 
            data-title="{{ (item.user_name is empty) ? item.email : item.user_name }}">
            {{ component('icons~info',theme.icons.menu,'svg') }}
        </button>
    </td>
    <td>{{ item.date_created|dateFormat }}</td>
    <td>{{ item.date_login|dateFormat }}</td>       
    <td>          
        {% if item.isDeleted() == false and control_panel_user == false %}
            {{ component('system:admin.status.dropdown',{ status: item.status, uuid: item.uuid }) }} 
        {% elseif control_panel_user == true %}
            <div class="badge badge-sm badge-success badge-outline">
                {{ labels.active }}
            </div>
        {% else %}
            <div class="badge badge-sm badge-error badge-outline">
                {{ labels.deleted }}
            </div>
        {% endif %}  
    </td>  
    <td>{{ item.user_name }}</td>
    <td>
        {% if item.details.isConfirmedEmail() == true %}
            <i class="icon olive checkmark" title="{{ labels.confirmed }}"></i>          
        {% endif %}
        {{ item.email }}           
    </td>       
    <td>{{ item.first_name }} {{ item.last_name }}</td>    
</tr>