{% set user = createModel('Users').findById(uuid) %}
{% set tokens = createModel('AccessTokens').getUserTokens(user.id) %}

<table class="{{ theme.table.default }} table-xs">
    <thead>
        <th>{{ labels.action }}</th>
        <th>{{ labels.type }}</th>
        <th>{{ labels.status }}</th>
        <th>{{ labels.created }}</th>
        <th>{{ labels.expired_date }}</th>
        <th>{{ labels.token }}</th>       
    </thead>
    <tbody>
        {% if tokens is empty %}
            <tr>
                <td colspan="5">..</td>
            </tr>
        {% endif %}
        {% for token in tokens %}
            {% set expired_class = (token.expired == true) ? 'error' : 'positive' %}
            <tr class="{{ expired_class }}" id="{{ token.uuid }}">
                <td>
                    <button class="{{ theme.buttons.icon }} delete-token" uuid="{{ token.uuid }}">
                        {{ component('icons~trash',theme.icons.delete,'svg')  }}    
                    </button>
                </td>
                <td>
                    {{ component('users::admin.users.edit.tokens.type',{ type: token.type }) }}
                </td>  
                <td>
                    {% if token.expired == true %}
                        <div class="ui red basic label">{{ labels.expired }}</div>                  
                    {% else %}
                        <div class="ui green basic label">{{ labels.active }}</div>                   
                    {% endif %}
                </td>
                <td>{{ token.date_created|dateTimeFormat }}</td>
                <td>{{ (token.date_expired > 0) ? token.date_expired|dateTimeFormat : labels.never }}</td>
                <td>{{ token.token|sliceLabel(5) }}</td>           
            </tr>            
        {% endfor %}
    </tbody>
</table>
