{% set model = createModel('UserGroups') %}
{% set groups = model.orderBy('title') %}
{% if selected is not empty %}
    {% set selected = model.findByid(selected) %}
{% endif %}

<select 
    name="{{ name|default('groups') }}"
    class="select {{ size|default('select-sm') }} groups-dropdown {{ class }}" 
    id="{{ id|default('groups_dropdown') }}">

    {% if hide_empty != true %}
    <option
        {{ (selected is empty) ? 'selected' : '' }} 
        value="">
        {{ labels.select }}
    </option>
    {% endif %}
    {% for item in groups.get() %}
        <option
            {{ (item.uuid == selected.uuid) ? 'selected' : '' }} 
            value="{{ item.uuid }}">
            {{ item.title }}
        </option>
    {% endfor %}    
</select>