<div class="{{ theme.panel }}">
    <button 
        mountTo="groups_content"
        component="users::admin.groups.add"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-group">
        {{ buttons.create }}
    </button>        
</div>
<div class="{{ theme.panel }} mt-4">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>             
                <th class="">{{ columns.actions }}</th>
                <th class="">{{ columns.members }}</th>   
                <th class="">{{ columns.slug }}</th>   
                <th class="">{{ columns.name }}</th>                                                    
            </tr>
        </thead>
        <tbody 
            id="group_rows" 
            component="users::admin.groups.view.rows" 
            namespace="groups">
            {{ component('users::admin.groups.view.rows') }}
        </tbody>
    </table>
    <div id="paginator">     
    </div>
</div>
