{% component 'semantic~tabs.vertical.content' %}
    {% set class = 'sixteen wide column' %}
    {% set panel_class = '' %}
    {% set options = [] %}
    {% set user_type = createModel('UserType','users').findByColumn(uuid,['uuid','slug']) %}
    {% set option_type = createModel('UserOptionType','users') %}
    <div class="mt-2">
        <div class="ui horizontal segments">
            <div class="ui segment">
                <span class="font-bold">{{ labels.type }}</span>
                <span class="pl-2">{{ user_type.title }}</span>
            </div>          
            <div class="ui segment">                
                <div class="ui right floated aligned basic label">
                    <span class="ui blue text">{{ labels.slug }}</span>
                    <div class="detail">{{ user_type.slug }}</div>              
                </div>                              
            </div>            
        </div>
        {% set items = options.getItemsQuery(user_type.slug) %}       
        <div class="mt-8">
            {% if items.count() == 0 %}
            <div class="ui message">
                {{ labels.empty }}
            </div>
            {% endif %}
            {% for item in items.get() %}
                {% set type = option_type.getByKey(item.key) %}
                <div class="mt-2 pb-4">
                    <h4 class="ui header">
                        {{ type.title }}
                    </h4>
                    <div class="ui ten column grid p-2">
                        <div class="ten wide column">
                            {{ component('semantic~orm.options.type',{ type: type, class: 'mini' }) }}  
                        </div>
                    </div>                                                      
                </div>
            {% endfor %}
        </div>
    </div>
{% endcomponent %}