{% set user = createModel('Users').findById(uuid) %}
{% set userDetails = createModel('UserDetails','users').findByColumn(user.id,'user_id') %}
{% set tokens = createModel('AccessTokens').getUserTokens(user.id) %}
{% set permissions = createModel('PermissionRelations').getRelationsQuery(user.id,'user') %}

{% component 'system:admin.panel' %}
    <div class="mt-2">
        {% if userDetails.avatar is not empty %}
            {% set image_url = url('/api/users/avatar/view/' ~  uuid,true) %}    
            <img 
                class="h-10 w-10" 
                src="{{ image_url }}">
        {% else %}
            <div class="w-32 h-32 border rounded-full border-solid border-gray-300">         
                <div class="flex items-center justify-center align-middle p-4">
                    {{ component('icons~image',{ color: 'text-gray-300' },'svg') }}
                </div>
            </div>
        {% endif %}                          
        <table class="{{ theme.table.details }}">
            <tbody>
                <tr>
                    <td>{{ labels.id }}</td>
                    <td>
                        {{ component('system:admin.view.id',{ model: user }) }}                     
                    </td>
                </tr>
                <tr>
                    <td>{{ labels.username }}</td>
                    <td>{{ user.user_name }}</td>
                </tr>
                <tr>
                    <td>{{ labels.email }}</td>
                    <td>
                        {% if userDetails.isConfirmedEmail() == true %}
                            <div class="ui basic horizontal label mini green">
                                {{ labels.confirmed }}
                            </div>                                  
                        {% endif %}
                        {{ user.email }}
                    </td>
                </tr>
                <tr>
                    <td>{{ labels.name }}</td>
                    <td>
                        {{ userDetails.first_name }}
                        {{ userDetails.last_name }}
                    </td>
                </tr>
                <tr>
                    <td>{{ labels.phone }}</td>
                    <td>{{ userDetails.phone }}</td>
                </tr>
                <tr>
                    <td>{{ labels.phone2 }}</td>
                    <td>{{ userDetails.phone_2 }}</td>
                </tr>
                <tr>
                    <td>{{ labels.public }}</td>
                    <td>
                        {% if userDetails.public_profile == 1 %}
                            <div class="badge badge-success badge-sm">{{ labels.on }}</div>
                        {% else %}
                            <div class="badge badge-secondary badge-sm">{{ labels.off }}</div>                               
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{ labels.type }}</td>
                    <td>{{ userDetails.type.title }}</td>
                </tr>
                <tr>
                    <td>{{ labels.date_created }}</td>
                    <td>{{ user.date_created|dateTimeFormat }}</td>
                </tr>
                <tr>
                    <td>{{ labels.date_login }}</td>
                    <td>{{ user.date_login|dateTimeFormat|emptyLabel('-') }}</td>
                </tr>
                <tr>
                    <td>{{ labels.date_updated }}</td>
                    <td>{{ user.date_updated|dateTimeFormat|emptyLabel('-') }}</td>
                </tr>
            </tbody>
        </table> 
        <h4 class="font-bold my-2">
            {{ labels.permissions }}
        </h4>
        <div class="w-full">                
            {% for item in permissions.get() %}
                {{ component('users::admin.permissions.label',{ item: item, class: 'mb-2' }) }} 
            {% endfor %}                  
        </div> 
        <div class="horizontal divider my-2">
            {{ labels.inherited }}
        </div>
        {{ component('users::admin.permissions.groups',{ uuid: user.uuid }) }}

        <h4 class="font-bold my-2">
            {{ labels.groups }}
        </h4>
        <table class="{{ theme.table.details }}">
            <tbody>
            {% for item in user.groups %}              
                {{  component('users::admin.users.edit.groups.item',{ 
                        group: item.group, 
                        disable_edit: true,
                        relation_uuid: item.uuid  
                    }) 
                }}       
            {% endfor %}                    
            </tbody>
        </table> 

        <h4 class="font-bold my-2">
            {{ labels.tokens }}
        </h4>
        <table class="{{ theme.table.details }}">
            <tbody>
                {% for token in tokens %}
                    {% if token.isExpired() == flase %}
                    <tr>
                        <td>
                            {{ component('users::admin.users.edit.tokens.type',{ type: token.type }) }}
                        </td>
                        <td>
                            {{ token.token }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>  

        <h4 class="font-bold my-2">
            {{ labels.options }}
        </h4>
        {{  component('semantic~orm.options.view',{ 
                model: 'UserOptions',
                extension: 'users',
                id: user.id
            }) 
        }}
    </div>
{% endcomponent %}