{% set users = createModel('Users') %}
{% set status_filter = searchValue('status','users') %}
{% if show_deleted != true %}
    {% set users = users.getNotDeletedQuery() %}
{% else %}
    {% set users = users.softDeletedQuery() %}
{% endif %}
{{ createSearch('user_name','users','ilike:{value}%') }}
{{ createSearch('email','users','ilike:{value}%','or') }}

{% if status_filter is not empty %}
    {% set users = users.where('status','=',status_filter) %}
{% endif %}
{% set users = applyOrderBy(users,'users') %}
{% set users = applySearch(users,'users') %}
{% set users = users.join('user_details', 'users.id', '=', 'user_details.user_id', 'left outer').select('users.*','user_details.*','users.uuid as uuid','users.id as id') %}   
{% set items = paginate(users,'users') %}

{% if items.getItems()|length == 0 %}
    <tr>
        <td colspan="9">{{ labels.empty }}</td>
    </tr>
{% endif %}

{% for item in items.getItems() %}   
    {{ component('users::admin.users.view.item',{ item: item } ) }}
{% endfor %}