<div class="ui vertical fluid rigt pointing menu">
    <a class="item active edit-tab-item" component="users::users.dashboard">
        <i class="left floated icon dashboard"></i>
        {{ items.dashboard }}
    </a>
    <a class="item edit-tab-item" component="users::users.details">
        <i class="left floated icon edit"></i>
        {{ items.details }}
    </a>
    <a class="item edit-tab-item" component="users::users.password">
        <i class="left floated icon lock"></i>
        {{ items.change_password }}
    </a>
    <!--
    <a class="item edit-tab-item" component="users::users.settings">
        <i class="left floated icon cogs"></i>
        {{ items.settings }}
    </a>
    -->
    <a class="item edit-tab-item" component="users::users.logout">
        <i class="left icon sign out"></i>
        {{ items.logout }}
    </a>
</div>