{% if uuid is not empty %}
    {% set item = createModel('UserGroups').findById(uuid) %} 
{% endif %}
<tr id="row_{{ item.uuid }}">             
    <td>                     
        <div class="ui icon basic mini buttons">
            <button class="ui icon button edit-button" uuid="{{ item.uuid }}">
                <i class="icon edit"></i>
            </button>      
            <button class="ui icon button permissions-button" uuid="{{ item.uuid }}">
                <i class="icon unlock"></i>
            </button>   
            <button class="ui icon button members-button" uuid="{{ item.uuid }}">
                <i class="icon users"></i>
            </button>        
            {% if item.members.count() == 0 %}
            <button class="ui icon button delete-button" uuid="{{ item.uuid }}" data-title="{{ item.title }}">
                <i class="icon trash orange"></i>
            </button>           
            {% endif %}    
        </div>           
    </td>
    <td class="center aligned">
        {{ item.members.count() }}
    </td>
    <td>
        <div class="ui label basic">{{ item.slug }}</div>
    </td>
    <td>
        {{ item.title }}
    </td>          
</tr>