{% if uuid is not empty %}
    {% set item = createModel('UserGroups').findById(uuid) %} 
{% endif %}
<tr id="row_{{ item.uuid }}">             
    <td>                     
        <button 
            mountTo="groups_content"
            component="users::admin.groups.edit"
            class="{{ theme.buttons.icon }} group-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~edit',theme.icons.menu,'svg') }}
        </button>      
        <button 
            mountTo="groups_content"
            component="users::admin.groups.permissions"
            class="{{ theme.buttons.icon }} group-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~lock',theme.icons.menu,'svg') }}
        </button>   
        <button 
            mountTo="groups_content"
            component="users::admin.groups.members"
            class="{{ theme.buttons.icon }} group-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~user',theme.icons.menu,'svg') }}
        </button>        
        {% if item.members.count() == 0 %}
        <button 
            class="{{ theme.buttons.icon }} delete-button" 
            uuid="{{ item.uuid }}" 
            title="{{ item.title }}">
            {{ component('icons~trash',theme.icons.delete,'svg') }}
        </button>           
        {% endif %}        
    </td>
    <td class="self-center">
        {{ item.members.count() }}
    </td>
    <td>
        <div class="badge badge-sm badge-outline">{{ item.slug }}</div>
    </td>
    <td>
        {{ item.title }}
    </td>          
</tr>