{% if item is empty %}
    {% set item = createModel('PermissionRelations').getRelationsQuery(relation_id,type).where('uuid','=',uuid).first() %}
{% endif %}
{% set name = item.permission.name %}
<div class="item" id="item_{{ item.uuid }}"> 
    <div class="flex flex-row items-center">
        <div class="left floated content">
            {% if name != 'ControlPanel' %}
            <button class="ui mini icon basic button delete-permission" uuid="{{ item.uuid }}" title="{{ labels.delete }}">
                <i class="icon trash orange"></i>
            </button> 
            {% endif %}
        </div>       
        <div class="content">                             
            {{ component('users::admin.permissions.label',{ item: item, class: 'header' }) }}                       
        </div>  
    </div>       
</div>