{% if item is empty %}
    {% set item = createModel('PermissionRelations').getRelationsQuery(relation_id,type).where('uuid','=',uuid).first() %}
{% endif %}
{% set name = item.permission.name %}
<div 
    class="flex " 
    id="item_{{ item.uuid }}"> 
    <div
        class="flex flex-row items-center w-full">
        {% if name != 'ControlPanel' %}
            <button 
                class="{{ theme.buttons.icon }} delete-permission" 
                uuid="{{ item.uuid }}" 
                title="{{ labels.delete }}">
                {{ component('icons~trash',theme.icons.delete,'svg') }}
            </button> 
        {% endif %}       
        <div                
            class="w-full">                             
            {{  component('users::admin.permissions.label',{ 
                    item: item, 
                    class: 'w-full' 
                }) 
            }}                       
        </div>  
    </div>       
</div>