{% set model = createModel('UserType','users') %}
{% if selected is not empty %}
    {% set selected = model.findByid(selected) %}
{% endif %}
{% set data_field = data_field|default('id') %}

<select 
    aria-placeholder="labels.select"
    name="{{ name|default('type_id') }}"
    class="select {{ size|default('seelct-sm') }} user-type-dropdown {{ class }}" 
    id="{{ id|default('user_type') }}">
    
    {% for item in model.get() %}
    <option 
        {{ (item[data_field] == selected[data_field]) ? 'selected' : '' }}
        class="item" value="{{ item[data_field] }}">
        {{ item.title }}
    </option>
    {% endfor %} 
      
</select>