{% set id = id|default('user_type') %}
{% set name = name|default('type_id') %}
{% set model = createModel('UserType','users') %}
{% if selected is not empty %}
    {% set selected = model.findByid(selected) %}
{% endif %}
{% set data_field = data_field|default('id') %}
{% set selected_text = (selected is empty) ? labels.select : selected.title %}
{% set class = class|default('selection') %}
{% set icon = icon|default('stream') %}

<div class="ui dropdown user-type-dropdown {{ class }}" id="{{ id }}">
    <input name="{{ name }}" type="hidden" value="{{ selected[data_field] }}">
    <i class="icon {{ icon }}"></i> 
    <div class="text">{{ selected_text }}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        {% for item in model.get() %}
        <div class="item" data-value="{{ item[data_field] }}">
            {{ item.title }}
        </div>
        {% endfor %}
    </div>
</div>