{% component 'semantic~tabs.vertical.content' %}
{% set user = createModel('Users').findById(uuid) %}
<div class="ui mt-8">
    {% if user.groups is empty %}
    <div class="ui message" id="no_groups_message">
        {{ messages.empty }}
    </div>
    {% endif %}
    <div class="ui list" id="groups_list">
        {% for item in user.groups %}              
            {{ component('users::admin.users.edit.groups.item',{ group: item.group, relation_uuid: item.uuid  }) }}       
        {% endfor %}
    </div>  
</div>

<div class="ui segment pt-4">      
    {{ component('users::admin.groups.dropdown',{ icon: 'blue' }) }}
    <div class="ui button icon green add-group-button" title="{{ labels.add }}" uuid="{{ user.uuid }}">
        <i class="icon plus"></i>
    </div>
</div>
{% endcomponent %}