{% set items = [ 
    { id: 'view_button', title: labels.view.content, component: 'users::admin.users', icon: 'grid layout', active: true },
    { id: 'settings_button', title: labels.settings.content, component: 'users::admin.settings', icon: 'cogs' },
    { id: 'trash_button', title: labels.trash.content, component: 'users::admin.trash', icon: 'trash' }    
] %}

{{  component('components:tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'users' },
        content: { component: 'users::admin.users' } 
    })
}}