{{  component('system:admin.tabs',{ 
        items: [ 
            {               
                title: labels.view.content, 
                component: 'users::admin.users', 
                svg_icon: 'icons~user', 
                active: true 
            },
            {                
                title: labels.groups.content, 
                component: 'users::admin.groups', 
                svg_icon: 'icons~user' 
            },   
            {             
                title: labels.permissions.content, 
                component: 'users::admin.permissions', 
                svg_icon: 'icons~lock' 
            },
            {                
                title: labels.type.content, 
                component: 'users::admin.type.view', 
                svg_icon: 'icons~info' 
            },   
            { 
               
                title: labels.settings.content, 
                component: 'users::admin.settings', 
                svg_icon: 'icons~cog' 
            },
            {                
                title: labels.trash.content, 
                component: 'users::admin.trash', 
                svg_icon: 'icons~trash' 
            }      
        ],
        menu: { 
            extension: 'users' 
        },
        help: { 
            component: 'users::admin.help', 
            extension: 'users' 
        }, 
        content: { 
            component: 'users::admin.users' 
        } 
    })
}}