{% if uuid is not empty %}
    {% set user = createModel('Users').findById(uuid) %}
   
{% endif %}  

{% component 'system:admin.panel' %}      
    <div class="my-4 flex flex-row items-center">
        <div class="font-bold px-2">
            {{ labels.user }}
        </div>
        {{ user.user_name_or_email }}
    </div>
    <div class="mt-2" id="edit_user_menu">
        {% if uuid is not null %}
            {{ component('users::admin.users.edit.menu',{ uuid: uuid }) }}
        {% endif %}   
    </div>
{% endcomponent %}