{% if group is empty %}
    {% set group = createModel('UserGroups').findById(uuid) %}    
{% endif %}
<div class="item" id="item_{{ group.uuid }}">
    <div class="flex flex-row items-center">
        <div class="left floated content">
            {% if disable_edit != true %}
            <button class="ui mini icon basic button remove-group-member" uuid="{{ group.uuid }}" relation-uuid="{{ relation_uuid }}">
                <i class="icon trash orange"></i>
            </button> 
            {% endif %}
        </div>
        <div class="content">               
            <div class="font-bold">{{ group.title }}</div>
            {{ group.description }}
        </div> 
    </div> 
</div>