{% if group is empty %}
    {% set group = createModel('UserGroups').findById(uuid) %}    
{% endif %}
<div 
    class="flex flex-row items-center" 
    id="item_{{ group.uuid }}">   
    {% if disable_edit != true %}
    <button class="{{ theme.buttons.icon }} remove-group-member" uuid="{{ group.uuid }}" relation-uuid="{{ relation_uuid }}">
        {{ component('icons~trash',theme.icons.delete,'svg') }}
    </button> 
    {% endif %}      
    <div class="ml-2">               
        <div class="font-bold">{{ group.title }}</div>
        <p>
            {{ group.description }}
        </p>        
    </div>   
</div>