{% import systemMacro('orderBy.html') as order %}
<div class="{{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>   
                <th class="w-12"></th>          
                <th class="">{{ columns.actions }}</th>
                <th class="">
                    {{ order.orderByLink('users','date_created') }}
                    {{ columns.created }}
                </th>
                <th class="">{{ columns.last_login }}</th>               
                <th class="">
                    {{ order.orderByLink('users','status') }}
                    {{ columns.status }}
                </th>               
                <th class="">
                    {{ order.orderByLink('users','user_name') }}
                    {{ columns.user_name }}
                </th>
                <th>
                    {{ order.orderByLink('users','email') }}
                    {{ columns.email }}
                </th>              
                <th>{{ columns.name }}</th>                    
            </tr>
        </thead>
        <tbody 
            id="users_rows">
            {{ component('users::admin.users.view.rows') }}
        </tbody>
    </table>
    <div id="paginator">  
        {{  component("system:admin.paginator",{ 
                id: 'users_paginator',
                namespace: 'users',
                rows_selector: 'users_rows',
                component:"users::admin.users.view.rows" 
            })  
        }}       
    </div>
</div>