{% import systemMacro('orderBy.html') as order %}
{% set status_filter = searchValue('status','users') %}
<div class="ui segment">
    <div class="ui stackable grid">
        <div class="two wide column left aligned">
            <i class="icon filter"></i>
            {{  component('components:status.dropdown',{ 
                    status: status_filter,
                    class: 'status-filter clearable selection',                       
                    all: false 
                }) 
            }} 
        </div>
        <div class="four wide column left aligned">
            {{ component('components:search.form',{ namespace: 'users' }) }}
        </div>
        <div class="nine wide column">
        </div>
        <div class="one wide right aligned column">
            {{ component('components:paginator.dropdown',{ namespace: 'users' }) }}
        </div>
    </div>
</div>
<div class="ui mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>   
                <th class="collapsing center aligned">{{ columns.avatar }}</th>          
                <th class="collapsing center aligned">{{ columns.actions }}</th>
                <th class="two wide">
                    {{ order.orderByLink('users','date_created') }}
                    {{ columns.created }}
                </th>
                <th class="two wide">{{ columns.last_login }}</th>               
                <th class="collapsing one wide">
                    {{ order.orderByLink('users','status') }}
                    {{ columns.status }}
                </th>               
                <th class="collapsing two wide">
                    {{ order.orderByLink('users','user_name') }}
                    {{ columns.user_name }}
                </th>
                <th class="collapsing two wide">
                    {{ order.orderByLink('users','email') }}
                    {{ columns.email }}
                </th>              
                <th>{{ columns.name }}</th>  
                <th class="collapsing one wide">{{ columns.phone }}</th>          
            </tr>
        </thead>
        <tbody id="users_rows" component="users::admin.users.view.rows" namespace="users">
            {{ component('users::admin.users.view.rows') }}
        </tbody>
    </table>
    <div id="paginator">
        {{ component("components:paginator",{ namespace: 'users' }) }}
    </div>
</div>