{% import systemMacro('orderBy.html') as order %}
<div class="ui segment mt-2">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>   
                <th class="collapsing center aligned">{{ columns.avatar }}</th>          
                <th class="two wide center aligned">{{ columns.actions }}</th>
                <th class="two wide">
                    {{ order.orderByLink('users','date_created') }}
                    {{ columns.created }}
                </th>
                <th class="two wide">{{ columns.last_login }}</th>               
                <th class="collapsing two wide">
                    {{ order.orderByLink('users','status') }}
                    {{ columns.status }}
                </th>               
                <th class="collapsing two wide">
                    {{ order.orderByLink('users','user_name') }}
                    {{ columns.user_name }}
                </th>
                <th>
                    {{ order.orderByLink('users','email') }}
                    {{ columns.email }}
                </th>              
                <th>{{ columns.name }}</th>                    
            </tr>
        </thead>
        <tbody 
            id="users_rows" 
            component="users::admin.users.view.rows" 
            namespace="users">
            {{ component('users::admin.users.view.rows') }}
        </tbody>
    </table>
    <div id="paginator">
        {{ component("semantic~paginator",{ namespace: 'users' }) }}
    </div>
</div>