{% set permission = item.toArray() %}
{% set name = item.permission.name %}
<div    
    class="flex flex-row items-center {{ class }}"> 
    <div class="flex flex-row items-center" >
        {% if item.permission.deny == true %}
        <div class="badge badge-sm badge-error">
            <span class="ui text">{{ labels.deny }}</span>
        </div>
        {% else %}
        <div class="badge badge-sm badge-success">
            <span class="ui text">{{ labels.allow }}</span>
        </div>
        {% endif %} 
        <div class="px-2 ">        
            {{ name }}
        </div> 
        <div class="flex-grow">
          
                {% set permisssion_types = ['read','write','delete','execute'] %}
                {% for type in permisssion_types %}
                    {% if permission[type] == 1 %}  
                        {% set button = { action: 'remove', class: 'badge-success', icon: 'check circle outline green' } %}          
                    {% else %}
                        {% set button = { action: 'add', class: 'badge-error', icon: 'ban red' } %}        
                    {% endif %}     
                    <span id="permission_type_content_{{ type }}_{{ item.uuid }}">
                        <div 
                            class="badge badge-outline badge-sm {{ button.class }} change-permission-type cursor-pointer" 
                            type="{{ type }}" 
                            uuid="{{ item.uuid }}"
                            action-type="{{ button.action }}">       
                            <i class="icon {{ button.icon }}"> </i>        
                            <span class="underline text-gray-800 hover:text-red-500 w-full">
                                {{ labels[type] }}
                            </span>
                        </div>
                    </span>                
                {% endfor %}
            
        </div>  
    </div>  
</div>