<div>
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui segment">
                    {{ component('users::admin.type.list') }}
                </div>                
            </div>
            <div class="thirteen wide column" id="user_type_options">
                <div class="ui segment">
                    {{ component('users::admin.type.options',{ uuid: 'default' }) }}
                </div>                
            </div>
        </div>
    </div>
</div>