{% set model = createModel('Permissions') %}
{% set permissions = model.getListQuery() %}
{% if editable == true %}
    {% set permissions = permissions.where('editable','=',1) %}
{% endif %}

<select 
    name="{{ name|default('permissions') }}"
    class="select {{ size|default('select-sm') }} permissions-dropdown {{ class }}" 
    id="{{ id|default('permissions_dropdown') }}">
   
    {% for item in permissions.get() %}       
        <option 
            {{ (item.uuid == selected) ? 'selected' : '' }}
            value="{{ item.uuid }} ">
            {% if item.deny == 1 %}
            <div class="badge badge-xs badge-error">
                {{ labels.deny }}
            </div>
            {% else %}
            <div class="badge badge-xs badge-success">
                {{ labels.allow }}
            </div>
            {% endif %}
            <span class="px-1">{{ item.title }}</span>
                 
        </option>
    {% endfor %}
    
</select>