<div class="{{ theme.panel }}">
    <button 
        mountTo="permissions_content"
        component="users::admin.permissions.create"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-permission">
        {{ buttons.create }}
    </button>   
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>             
                <th class="">{{ columns.actions }}</th>
                <th class="">{{ columns.type }}</th>   
                <th class="">{{ columns.slug }}</th>   
                <th class="">{{ columns.name }}</th>                                                    
            </tr>
        </thead>
        <tbody 
            id="permissions_rows" 
            component="users::admin.permissions.view.rows" 
            namespace="permissions">
            {{ component('users::admin.permissions.view.rows') }}
        </tbody>
    </table>
</div>