{% if uuid is not empty %}
    {% set item = createModel('Permissions').findById(uuid) %} 
{% endif %}

<tr id="item_{{ item.uuid }}">             
    <td>            
        {% if item.editable == true %}
            <button 
                class="{{ theme.buttons.icon }} delete-permission" 
                uuid="{{ item.uuid }}" 
                title="{{ item.name }}">
                {{ component('icons~trash',theme.icons.delete,'svg') }}              
            </button> 
            <button 
                class="{{ theme.buttons.icon }} edit-permission" 
                uuid="{{ item.uuid }}">
                {{ component('icons~edit',theme.icons.menu,'svg') }}         
            </button> 
        {% else %}    
            <div class="badge badge-sm badge-info badge-outline">
                {{ labels.readonly }}
            </div>
        {% endif %}              
    </td>
    <td>
        {% if item.deny == true %}
            <div class="badge badge-sm badge-error badge-outline">
                {{ labels.deny }}
            </div>
        {% else %}
            <div class="badge badge-sm badge-success badge-outline">
                {{ labels.allow }}
            </div>
        {% endif %}   
    </td>
    <td>
        <div class="badge badge-sm badge-outline">                     
            {{ item.slug }}
        </div>
    </td>
    <td>
        {{ item.name }}

        {% if item.extension_name is not empty %}
        <div class="badge badge-sm badge-outline">           
            <span class="px-2">{{ labels.extension }}</span>
            <div class="font-bold">{{ item.extension_name }}</div>
        </div>
        {% endif %}
    </td>          
</tr>