{% set deletedUsers = createModel('Users').getDeletedCount() %}  

<div class="mt-4 {{ theme.panel }}">
    <button 
        class="{{ theme.buttons.delete }} empty-trash 
        {{ (deletedUsers == 0) ? 'disabled' : '' }} trash-button" 
        {{ buttons.empty.title|attr('title') }}>       
        {{ buttons.empty.content }}
    </button>
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>
                <th class="">{{ columns.avatar }}</th>           
                <th class="">{{ columns.actions }}</th>
                <th class="">{{ columns.created }}</th>
                <th class="">{{ columns.last_login }}</th>               
                <th class="">{{ columns.status }}</th>
                <th class="">{{ columns.user_name }}</th>
                <th class="">{{ columns.email }}</th>              
                <th>{{ columns.name }}</th>  
                <th class="">{{ columns.phone }}</th>    
            </tr>
        </thead>
        <tbody 
            id="items_rows">
            {{ component("users::admin.users.view.rows",{ show_deleted: true }) }}
        </tbody>
    </table>
    <div id="paginator">
        {{  component("system:admin.paginator",{ 
                id: 'deleted_users_paginator',
                namespace: 'trash',
                params: 'show_deleted: true',
                rows_selector: 'items_rows',
                component:"users::admin.users.view.rows" 
            })  
        }}    
    </div>
</div>